name: "Test"

on:
  push:
    branches:
      - '**'

env:
  PAGERDUTY_SERVICE_REGION: ${{ vars.PAGERDUTY_SERVICE_REGION }}
  PAGERDUTY_TOKEN: ${{ secrets.PAGERDUTY_TOKEN }}
  PAGERDUTY_USER_TOKEN: ${{ secrets.PAGERDUTY_TOKEN }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "1.7.0"

      - run: terraform fmt -check

      - run: terraform init

      - run: terraform test
  examples:
    runs-on: ubuntu-latest
    env:
      TF_INPUT: false
      TF_VAR_slack_workspace_id: ${{ secrets.SLACK_WORKSPACE_ID }}
      TF_VAR_slack_channel_id: ${{ secrets.SLACK_CHANNEL_ID }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "1.7.0"

      - run: terraform init && terraform apply -auto-approve && terraform destroy -auto-approve
        working-directory: ./examples/business-service

      - run: terraform init && terraform apply -auto-approve && terraform destroy -auto-approve
        working-directory: ./examples/technical-service
